/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";

body { background-color: #181818;
  .header { text-align: center; } }
.chat-box {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 600px;}
.body-msg {
  word-wrap: break-word;
  min-width: 300px; }
.box {
  background-color: #fff;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 20px;}
.item { border-bottom: 1px solid #DDD;
  .time { color: #c3c3c3;
          text-align: right; }}
.msg-input {
  padding: 5px;
  display: flex;
  #message_content { width: 100%; }
  .actions { padding: 10px; }}
